<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test App</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/materialize.min.css' />
    <script type='text/javascript' src='/js/jquery.min.js'></script>
    <script type='text/javascript' src='/js/materialize.min.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav class='top-nav indigo lighten-2'>
        <div class='container'>
          <div class='nav-wrapper'>
            <a href="#" class="brand-logo left">Debt</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main Content -->
    <main>
      <div class='row'>
        <!-- Error messages from connect-flash -->
        <div class="col s12">
          {{#if success_msg}}
            <div class='alert alert-success'>{{success_msg}}</div>
          {{/if}}
          {{#if error_msg}}
            <div class='alert alert-danger'>{{error_msg}}</div>
          {{/if}}
          {{#if error}}
            <div class='alert alert-danger'>{{error}}</div>
          {{/if}}
        </div>

        <!-- Render the body -->
        {{{ body }}}
      </div>
    </main>

    <!-- Footer -->
    <footer class="page-footer indigo lighten-2">
      <div class='container'>
        <p class='left white-text'>© 2016 Angus Turner</p>
      </div>
    </footer>
  </body>
</html>
