body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0px;
}

main {
  flex: 1 0 auto;
}

td {
  padding: 0px 5px 0px 5px !important;
}

table {
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
}

footer.page-footer {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.salmon {
  background-color: #ee6e73 !important;
}
